@model PMS_Entity.Model.Master.ClientRegistration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClientRegistration</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RegistrationID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Mobileno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobileno)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EmailID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Createddate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Createddate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Token)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Token)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EncryKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EncryKey)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IVKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IVKey)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UniqueID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UniqueID)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
